<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="limiter">
		<div class="container-login">
			<div class="wrap-login">
				<form class="login-form validate-form">
					<span class="login-form-title">
						Ivan Rybnikov's Test Task
					</span>

					<div class="wrap-input validate-input">
						<input class="input" name="pageUrl" [(ngModel)]="pageUrl"/>
						<span class="focus-input" data-placeholder="Введите адресс web страницы"></span>
					</div>

					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button class="login-form-btn" (click)="submit()">
								Начать
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
